{% import os, os.path %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Index</title>
    <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}">
</head>
<body>
    <h1>Cool launch page!</h1>
    <ul>
        <li><a href="/bert">Bert</a></li>
        {% for root,dirs,files in os.walk(application.settings['static_path']) %}
        {% for file in files %}
        {% set p = os.path.relpath(os.path.join(root,file), application.settings['static_path']) %}
        {% if file.endswith(".html") and not p.startswith("lib/") %}
        <li><a href="{{ "/static/{}".format(p) }}">{{ escape(p) }}</a></li>
        {% end %}
        {% end %}
        {% end %}
    </ul>
</body>
</html>
